.services{
   margin-bottom: 4rem;
  
   .container{
      display: grid;
      grid-template-columns: 1fr;
      text-align: center;
       .services__title{
          h1{
             margin-bottom: 5rem;
             font-size: 2.7rem ;

          }

       }
       .service__header{
          margin: 3rem 0;
          display: grid;
          grid-template-columns: repeat(2,1fr);
          gap: 4rem;
          .services__info{
             h1{
                font-weight: 600;

             }
             p{
                margin: 3.5rem 0;
                line-height: 2;

            }
           
         }
         .services__image{
            img{
               width: 100%;
               height: 350px;
            }
         }
      }
          .services__container{
             margin-top: 2rem;
             text-align: left;
             display: grid;
             grid-template-columns: repeat(3,1fr);
             gap:3rem ;
           
             
          .service{
             display: grid;
             grid-template-columns: 70% 25%;
             gap: 3rem;
             border: 1px solid lightgrey;
             box-shadow: 1rem 1rem 1rem rgba(0,0,0,0.3);
             padding: 3rem;
             transition: all 0.4s;
             &:hover{
                transform: scale(1.02);
                border-radius: 40px;
                border: 2px solid black;
             }
             .service__info{
                h3{
                   margin-bottom: 1rem;

                }
                .service__list{
                  
                   li{
                      padding: 1rem 0;
                      
                      a{
                        color: black;
                      }
                   }
                }
               }
                .service__image{
                   img{
                     width: 100%;
                     height: auto;

                   }
                }
          }

          }
   }
}

@media screen and (max-width:950px) {
   .services{
      .container{
         .service__header{
            display: grid;
            grid-template-columns: 1fr;
         }
         .services__container{
            display: grid;
            grid-template-columns: repeat(2,1fr);
         }
      }
   }  
}

@media screen and (max-width:700px) {
   .services{
      .container{
      
         .services__container{
            display: grid;
            grid-template-columns: 1fr;
         }
      }
   }  
}